.video-feed {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.video-container {
  height: 100%;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.nav-button.prev {
  left: 10px;
}

.nav-button.next {
  right: 10px;
}
